<html>
<head>
	<script src="https://kit.fontawesome.com/c838811523.js" crossorigin="anonymous"></script>

	<style>
		.mainFooter {
			height: 430px;
			background-color: black;
			color: white;
			font-family:  arial;

		}

		.firstFooter {
			display: flex;
			justify-content: center;
			padding: 50px 220px 0px 120px;
		}

		.firstFooterChild {
			margin: 30px;
			width: 230px
		}
		.fa-facebook , .fa-twitter , .fa-instagram , .fa-snapchat , .fa-youtube{
			color:white;
			font-size:30px;
			background-color:black;
			margin:3px;
		}
		

	</style>
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div class="mainFooter">

		<div class="firstFooter">
			<div class="firstFooterChild">
				<img src="/lib/cougerLogo1.png" width="170px" height="50px" /><br /><br />

				<a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i>		</a>		
				<a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i> </a>
				<a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i> </a>
				<a href="https://www.snapchat.com"><i class="fa-brands fa-snapchat"></i>  </a>
				<a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i> </a>



			</div>
			<div class="firstFooterChild">
				<p style="font-weight:bolder;padding:0px 0px 10px 0px;font-size:larger;margin:10px 0px">INFORMATION</p>
				<p>Blogs</p>
				<p>About Cougar</p>
				<p>Shipping Policy</p>
				<p>Terms & Conditions</p>
				<p>Track Your Order</p>

			</div>
			<div class="firstFooterChild">
				<p style="font-weight:bolder;padding:0px 0px 10px 0px;font-size:larger;margin:10px 0px">CUSTOMER CARE</p>
				<p>Contact Us</p>
				<p>FAQ's</p>
				<p>Refund Policy</p>
				<p>Feedback / Complaint</p>
				<p>Store Locator</p>

			</div>
			<div class="firstFooterChild">
				<p style="font-weight:bolder;padding:0px 0px 10px 0px;font-size:larger;margin:10px 0px">SIGN UP AND SAVE</p>
				<p>Subscribe to get special offers</p>
				<p><input placeholder="Enter your Email" style="font-size:large;background-color:transparent;color:white;border:1px solid white;border-radius:2px" /></p>
				<p><input type="submit" value="Submit" name="submit" style="cursor:pointer;font-size:large;background-color:darkslategray;color:black;border:1px solid gray;border-radius:2px;width:98%" /></p>
				<p>Landline:042-32301484</p>
				<p>Email: info@cougar.com.pk</p>
			</div>
		</div>
		<div class="secondFooter">
			<p style="text-align:center;margin:0px;">Copyrite &#169; 2022 Cougar Clothing</p>
		</div>
	</div>
</body>
</html>