<html>
<head>
	<title>
		Women
	</title>
	<style>
		main{
			margin:0px;
			padding:0px;
			box-sizing:border-box;
			font-family:Verdana;
		}
		a{
			text-decoration:none;
			color:black;

		}
		.para{
			text-align:center;
			font-family:candara;
			font-weight:500;
			font-size:x-large;
			margin:5% 20%;
		}
		.menCloth{
			display:flex;
			justify-content:center;

		}
		.firstType{
			width:20%;
			margin:10px 39px 0px 18px;
			display:flex;
			flex-direction:column;

		}
		.secondType{
			width:44%;

		}
		.thirdType{
			width:20%;
			margin:10px 20px 0px 39px;
			display:flex;
			flex-direction:column;

		}
		h2{
			margin:0px;
		}
		.firstCloth ,.secondCloth, .second, .first{
			margin:0px 0px 30px 0px;
		}
	</style>
</head>
<body>
	@{
		Html.RenderPartial("_headerPartial");
	}
	<main>

		<img class="mySlides" src="/lib/womanCougarImg6.jpg" style="width:100%">
		<div class="para">
			<p>Seek out adorable outfits and be à la mode this season. Cougar presents you an assortment of designs and patterns that are up to the minute, including T-Shirts, Casual Shirts, Polos, Jeans, Pants,trousers,shorts and many more. The wide variety of hues is offered by Cougar for  such as tie & dye,  double colored, shaded colored, etc. Furthermore, if you are color obsessed and prefer single color family, than go for it as we have a variety of monochromatic color palette. </p>
		</div>
		<div class="menCloth">
			<div class="firstType">
				<div class="firstCloth">
					
					<a href="/Home/Top"><img src="/lib/womanCougarImg1.jpg" alt="T-Shirt-Image" width="100%"/>
					<h2>Tops</h2>
					</a>
				</div>
				<div class="secondCloth">

					<a href="/Home/Jeans">
					<img src="/lib/womanCougarImg2.jpg" alt="casual_shirts_Image" width="100%"/>
					<h2>Jeans</h2>
					</a>
					
				</div>
			</div>
			<div class="secondType">

				<a href="/Home/Women_T_Shirts">
				<img src="/lib/womanCougarImg3.jpg" alt="casual_shirts_Image" width="100%"/>
					<h2>T-Shirts</h2>
					</a>
					
			</div>
			<div class="thirdType">
				<div class="first">

					<a href="/Home/Co_Ords">
					<img src="/lib/womanCougarImg4.jpg" alt="casual_shirts_Image" width="100%"/>
					<h2>Co-Ords</h2>

					</a>
					
				</div>
				<div class="second">

					<a href="/Home/Women_Trousers">
					<img src="/lib/womanCougarImg5.jpg" alt="casual_shirts_Image" width="100%"/>
					<h2>Trousers</h2>

					</a>
					
				</div>
			</div>
		</div>


	</main>

	@Html.Partial("_footerPartial")

</body>
</html>